{% extends "layout/base.html" %}
{% block title %}Create Client{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        Create Client
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Company</label>
                <select name="company" class="form-select" required>
                    <option value="">Select Company</option>
                    {% for company in companies %}
                        <option value="{{ company.id }}">
                            {{ company.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Client Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Budget</label>
                <input type="number" step="0.01" name="budget"
                       class="form-control" required>
            </div>

            <button class="btn btn-success">Save</button>
            <a href="{% url 'client_index' %}" class="btn btn-secondary">
                Back
            </a>
        </form>
    </div>
</div>
{% endblock %}
