{% extends "layout/base.html" %}
{% block title %}Update Client{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-warning">
        Update Client
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Company</label>
                <select name="company" class="form-select" required>
                    {% for company in companies %}
                        <option value="{{ company.id }}"
                            {% if company.id == client.company.id %}selected{% endif %}>
                            {{ company.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Client Name</label>
                <input type="text" name="name"
                       value="{{ client.name }}"
                       class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Budget</label>
                <input type="number" step="0.01" name="budget"
                       value="{{ client.budget }}"
                       class="form-control" required>
            </div>

            <button class="btn btn-primary">Update</button>
            <a href="{% url 'client_index' %}" class="btn btn-secondary">
                Back
            </a>
        </form>
    </div>
</div>
{% endblock %}
