{% extends "layout/base.html" %}
{% block title %}Delete Payment{% endblock %}

{% block content %}
<div class="card shadow-sm border-danger">
    <div class="card-header bg-danger text-white">
        Confirm Delete
    </div>

    <div class="card-body">
        <p>
            Are you sure you want to delete this payment?
        </p>

        <ul class="list-unstyled small">
            <li><strong>Client:</strong> {{ payment.client.name }}</li>
            <li><strong>Amount:</strong> ₹ {{ payment.amount }}</li>
            <li><strong>Mode:</strong> {{ payment.payment_mode|capfirst }}</li>
            <li><strong>Bank:</strong> {{ payment.bank.name|default:"Cash" }}</li>
        </ul>

        <form method="POST">
            {% csrf_token %}

            <button class="btn btn-danger">
                Yes, Delete
            </button>

            <a href="{% url 'payment_index' %}" class="btn btn-secondary">
                Cancel
            </a>
        </form>
    </div>
</div>
{% endblock %}
